
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fond styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;1,100;1,200&family=Roboto:wght@100&family=Ropa+Sans:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
    <!-- Generals and libs styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/hover-min.css" media="all">
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- unique styles -->
    <link rel="stylesheet" href="../public/css/form.styles.css">
    <title>Formulario Egreso Itsa</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-1 d-flex justify-content-center animate__animated animate__backInDown">
                <a href="http://localhost:3000"><img src="../public/images/itsa.png" alt=""></a>
            </div>
            <div class="col-10 title text-center align-self-center animate__animated animate__backInDown">INSTITUTO TECNOLOGICO SUPERIOR DE APATZINGAN</div>
        </div>
    </header>
        <body>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-sm-12 col-md-10 col-lg-10 contentForm contentForm animate__animated animate__fadeIn animate__delay-1s">
                        <div class="row">
                            
                                <form id="registerUser">
                                    <section class="row formHeader">
                                        <div class="col col-12 text-center animate__animated animate__fadeInDown animate__delay-1s">
                                            <h1 class="formTitle">Encuesta de Egreso</h1>
                                        </div>
                                        <div class="col col-12 formDescription animate__animated animate__fadeInDown animate__delay-1s">
                                            Encuesta de salida para alumnos del Instituto Tecnológico Superior de Apatzingán 
                                        </div>
                                    </section>
                                    <section class="row d-flex justify-content-center formBody contentForm animate__animated animate__fadeIn animate__delay-1s">
                                        
                                            <div class="col col-11 section" data-aos="fade-up">
                                                <div class="row seccionHeader">
                                                    <div class="col col-10 text-start seccionName animate__animated animate__fadeInDown animate__delay-1s">
                                                        <h2>Objetivos de la Encuesta:</h2>
                                                        
                                                        <p class="projos">  Mantener un vínculo con los egresados del ITSA, para informar sobre la bolsa de trabajo, cursos de actualización, talleres, diplomados, maestrías.
                                                            Así como también invitarlos a la reunión anual de egresados.</p>
                                                    </div>
                                                    <div class="col col-11 seccionDescription  animate__animated animate__fadeInDown animate__delay-1s">
                                                        IMPORTANTE: Favor de capturar los datos de la encuesta en MAYÚSCULAS y respetar los acentos.
                                                            
                                                            Atentamente:
                                                            I.S.C. Obdulia Silva Saldaña.
                                                            Depto. de Gestión Tecnológica y Vinculación.
                                                            Instituto Tecnológico Superior de Apatzingán.
                                                           <p class="azules"> <br>Correo: gestion_vinculacion@itsa.edu.mx </br>
                                                            <br> Tel. Oficina: (453)-534-83-00 Ext. 106 </br>
                                                            <br> Tel. Celular: (453)1185542 </br> </p>
                                                    </div>
                                                </div>
                                                <h2> *Obligatorio, DATOS GENERALES DEL(A) EGRESADO(A):</h2>
                                                <div class="row seccionQuestions f-flex justify-content-start">
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question  animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Nombre Completo</div>
                                                                    <div class="col col-11 questionInput"><input type="text" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">No. Ctrl</div>
                                                                    <div class="col col-11 questionInput"><input type="number" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Año de Ingreso</div>
                                                                    <div class="col col-11 questionInput"><input type="number" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Titulado</div>
                                                                    <div class="col col-11 questionInput">
                                                                        <select class="form-select" aria-label="Default select example">
                                                                            <option selected>Selecciona una opción</option>
                                                                            
                                                                                    <option value="Si">Si</option>
                                                                            
                                                                                    <option value="No">No</option>
                                                                            
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question  animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Opción de titulación</div>
                                                                    <div class="col col-11 questionInput"><input type="text" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">¿Su interés es?</div>
                                                                    <div class="col col-11 questionInput">
                                                                        <select class="form-select" aria-label="Default select example">
                                                                            <option selected>Selecciona una opción</option>
                                                                            
                                                                                    <option value="Laboral">Laboral</option>
                                                                            
                                                                                    <option value="Estudiar Postgrado">Estudiar Postgrado</option>
                                                                            
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question  animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Área de interés en el Postgrado:</div>
                                                                    <div class="col col-11 questionInput"><input type="text" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Correo Electrónico </div>
                                                                    <div class="col col-11 questionInput"><input type="email" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Teléfono de casa</div>
                                                                    <div class="col col-11 questionInput"><input type="number" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Teléfono Celular</div>
                                                                    <div class="col col-11 questionInput"><input type="number" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">¿Actualmente trabaja?</div>
                                                                    <div class="col col-11 questionInput">
                                                                        
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="radio" name="flexRadio¿Actualmentetrabaja?">
                                                                                    <label class="form-check-label" for="flexRadio¿Actualmentetrabaja?">Si</label>
                                                                                </div>
                                                                        
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="radio" name="flexRadio¿Actualmentetrabaja?">
                                                                                    <label class="form-check-label" for="flexRadio¿Actualmentetrabaja?">No</label>
                                                                                </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                                

                                                                <!-- html -->
                                                                <div class="col col-11 question  animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Nombre de la empresa</div>
                                                                    <div class="col col-11 questionInput"><input type="text" class="form-control" value="" required></div>
                                                                </div>
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question  animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Puesto</div>
                                                                    <div class="col col-11 questionInput"><input type="text" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question  animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Empresa donde realizó el servicio social</div>
                                                                    <div class="col col-11 questionInput"><input type="text" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question  animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">Empresa donde realizó la residencias profesionales</div>
                                                                    <div class="col col-11 questionInput"><input type="text" class="form-control" value="" required></div>
                                                                </div>
                                                            
                                                    
                                                        
                                                                <!-- html -->
                                                                <div class="col col-11 question animate__animated animate__fadeInUp animate__delay-1s" >
                                                                    <div class="col col-12 questionName">¿Cómo evalúa los siguientes servicio del ITSA?</div>
                                                                    <p class="projos"> Donde 0 es deficiente y 10 excelente</p>
                                                                    <div class="col col-11 questionInput">
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Idioma inglés:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountIdiomaingles" for="rangeInputIdiomaingles" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputIdiomaingles" min="0" max="10" value="0" oninput=amountIdiomaingles.value=rangeInputIdiomaingles.value>
                                                                                </div>
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Experiencia en el Servicio Social:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountExperienciaenelserviciosocial" for="rangeInputExperienciaenelserviciosocial" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputExperienciaenelserviciosocial" min="0" max="10" value="0" oninput=amountExperienciaenelserviciosocial.value=rangeInputExperienciaenelserviciosocial.value>
                                                                                </div>
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Experiencia en Residencias Profesionales:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountExperienciaenlasresidenciasprofesionales" for="rangeInputExperienciaenlasresidenciasprofesionales" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputExperienciaenlasresidenciasprofesionales" min="0" max="10" value="0" oninput=amountExperienciaenlasresidenciasprofesionales.value=rangeInputExperienciaenlasresidenciasprofesionales.value>
                                                                                </div>
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Actividades Extra Escolares:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountActividadesextraescolares" for="rangeInputActividadesextraescolares" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputActividadesextraescolares" min="0" max="10" value="0" oninput=amountActividadesextraescolares.value=rangeInputActividadesextraescolares.value>
                                                                                </div>
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Trámites Escolares:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountTrámitesescolares" for="rangeInputTrámitesescolares" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputTrámitesescolares" min="0" max="10" value="0" oninput=amountTrámitesescolares.value=rangeInputTrámitesescolares.value>
                                                                                </div>
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Tramites de Titulación:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountTramitesdetitulación" for="rangeInputTramitesdetitulación" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputTramitesdetitulación" min="0" max="10" value="0" oninput=amountTramitesdetitulación.value=rangeInputTramitesdetitulación.value>
                                                                                </div>
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Instalaciones:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountInstalaciones" for="rangeInputInstalaciones" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputInstalaciones" min="0" max="10" value="0" oninput=amountInstalaciones.value=rangeInputInstalaciones.value>
                                                                                </div>
                                                                        
                                                                                <label for="exampleInputEmail1" class="form-label">Laboratorios:</label>
                                                                                <div class="col col-12 outputRange">
                                                                                    <output name="amountLaboratorios" for="rangeInputLaboratorios" class="">0</output>
                                                                                    <input type="range" class="form-range" name="rangeInputLaboratorios" min="0" max="10" value="0" oninput=amountLaboratorios.value=rangeInputLaboratorios.value>
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                </div>
                                            </div>
                                        
                                    </section>
                                    <div class="row justify-content-center">
                                        <div class="col col-2 mt-3">
                                            <button type="submit" class="btn btn-primary hvr-bob">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                                
                        </div>
                    </div>
                </div>
            </div>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/register.js"></script>
</body>
</html>